<extend name="Common/base"/>

<block name="main">
<div style="width: 100%;height: auto">
    <div class="col-md-12 column">
        <h2>
            Android无法抗衡iMessage？
        </h2>
        <p><font class="label label-success" style="border-radius: 0">php</font><font class="label label-default" style="border-radius: 0">2017-02-25 21:41:13 周六 晴 张亮</font></p>
        <div class="article_body">
            <p>
                从去年到今年，付费阅读这个概念特别火，这个话题，我这里也提过几次，很多大V说，为知识分享付费，我的观点是，更多是以知识分享为幌子收割用户。旧文好几篇，不再赘述， 但看到有人说，为内容付费，这个我是认可的。
            </p>
            <p>所谓付费阅读，为内容付费，也一直有这个领域的从业者找我做调研，从知乎到微信，其实我觉得很多产品经理还是太单纯，太不经世事，为内容付费，付费阅读，根本就不是新鲜玩意，实际上在互联网已经存在了差不多二十年，很成熟，也很有规模，看看成人网站就是了。</p>
        </div>
    </div>
</div>
</block>

<block name="Js">
    <script src="/__PUBLIC__/js/excanvas.js?v=1.0"></script>
    <script src="/__PUBLIC__/js/jquery.tagcanvas.js?v=1.0"></script>
    <script type="text/javascript">
    </script>
</block>s