<extend name="Common/base_index"/>

<block name="main">
    <div style="height:auto;width:75%;float:left;padding: 10px;" id="main-content">
        <foreach name="articleList" item="article">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h2>
                        {$article['title']}
                    </h2>
                    <p><font class="label label-success" style="border-radius: 0">{$article['category_name']}</font><font
                            class="label label-default" style="border-radius: 0">{$article['created_time']}
                        {$article['author']}</font></p>
                    <div class="article_list_index">
                        {$article['content_info']}
                    </div>
                    <p>
                        <a class="btn" href="__MODULE__/Article/detail?article_id={$article['article_id']}">View details
                            »</a>
                    </p>
                </div>
            </div>
        </foreach>
    </div>
<!--</div>-->
    <!--标签云-->
    <div style="height:auto;float:left;width:25%;padding:10px 10px 10px 10px;min-width: 150px;" id="right-content">
        <h5>分类</h5>
        <div class="panel panel-defaults">
            <div class="panel-body">
                <foreach name="articleCategoryList" item="articleCategory">
                    <p><a href="__MODULE__/Article/list?category_id={$articleCategory['category_id']}">{$articleCategory['category_name']}<font>({$articleCategory['article_num']})</font></a></p>
                </foreach>
            </div>
        </div>
        <h5>友链</h5>
        <div class="panel panel-default">
            <div class="panel-body">
                <p>
                    <a class="" target="_blank" href="http://www.talisk.cn">talisk斯温的技术博客</a>
                </p>

		<p>
                    <a class="" target="_blank" href="http://www.maplejoyous.cn">JerriMei的技术博客</a>
                </p>
            </div>
        </div>
    </div>
</block>

<block name="loadCss">
    <include file="Common/loadCss"/>
    <link rel="shortcut icon" href="favicon.ico">
    <link href="/__PUBLIC__/css/carousel.css?v=3.3.5" rel="stylesheet">
</block>

<block name="Js">
    <script src="/__PUBLIC__/js/excanvas.js?v=1.0"></script>
    <script src="/__PUBLIC__/js/jquery.tagcanvas.js?v=1.0"></script>
    <script src="/__PUBLIC__/js/slider.js"></script>
    <script type="text/javascript">
        if($(window).width()<500){
            $("#main-content").width("100%");
            $("#right-content").width("100%");
        }
        $(document).ready(function () {
            if (!$('#myCanvas').tagcanvas({
                    textColour: '#ffffff',
                    outlineThickness: 2,
                    maxSpeed: 0.03,
                    depth: 0.75
                })) {
            }
        });

        $(function () {
            var bannerSlider = new Slider($('#banner_tabs'), {
                time: 5000,
                delay: 400,
                event: 'hover',
                auto: true,
                mode: 'fade',
                controller: $('#bannerCtrl'),
                activeControllerCls: 'active'
            });
            $('#banner_tabs .flex-prev').click(function () {
                bannerSlider.prev()
            });
            $('#banner_tabs .flex-next').click(function () {
                bannerSlider.next()
            });
        })
    </script>
</block>