<extend name="Common/base"/>

<block name="main">
    <!-- 代码 开始 -->
    <div class="head-warp">
        <div class="head">
            <div class="nav-box">
                <ul>
                    <li class="cur" style="text-align:center; font-size:31px; font-family:'微软雅黑', '宋体';">AIBOMS时光轴</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="main">
        <div class="history">
            <div class="history-date">
                <ul>
                    <h2 class="first"><a href="#nogo">2017年</a></h2>
                    <li>
                        <h3>4.05<span>2017</span></h3>
                        <dl>
                            <dt>Z博客（v1.0.1）正式上线
                                <span>新增加通过邮件联系站长，以及时光轴的功能</span>
                            </dt>
                        </dl>
                    </li>

                    <li class="green">
                        <h3>02.27<span>2017</span></h3>
                        <dl>
                            <dt>Z博客（v1.0.0）正式上线
                                <span>只具备初级的新闻查阅功能！ </span>
                            </dt>
                        </dl>
                    </li>
                </ul>
            </div>
            <div class="history-date">
                <ul>
                    <h2 class="date02"><a href="#nogo">2016年</a></h2>
                    <li class="green">
                        <h3>6.1<span>2016</span></h3>
                        <dl>
                            <dt>第一份工作
                                <span>就职于大师保养PHP开发岗位。</span>
                            </dt>
                        </dl>
                    </li>
                    <!--<li class="green">
                        <h3>11.24<span>2011</span></h3>
                        <dl>
                            <dt>发布国内首个双核浏览器实验室
                                <span>轻松测试浏览器性能</span>
                            </dt>
                        </dl>
                    </li>
                    <li>
                        <h3>11.01<span>2011</span></h3>
                        <dl>
                            <dt>升级极速内核到15.0
                                <span>提升浏览器速度、增强安全性</span>
                            </dt>
                        </dl>
                    </li>-->
                </ul>
            </div>
            <div class="history-date">
                <ul>
                    <h2 class="date02"><a href="#nogo">2015年</a></h2>
                    <li>
                        <h3>15月<span>2015</span></h3>
                        <dl>
                            <dt>开始学习PHP<span>提升浏览器速度、增强安全性</span></dt>
                        </dl>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</block>

<block name="loadCss">
    <include file="Common/loadCss"/>
    <link rel="shortcut icon" href="favicon.ico">
    <link href="/__PUBLIC__/css/journal.css?v=3.3.5" rel="stylesheet">
</block>
<block name="Js">
    <script src="/__PUBLIC__/js/journal.js"></script>
</block>