<extend name="Common/base"/>
<block name="main">
    <div style="padding: 10px;">
        <button class="layui-btn" onclick="layer.open({type: 2, area: ['800px', '400px'], fix: false, maxmin: true,content: 'add'});">添加<i class="layui-icon">&#xe608;</i></button>
        <table class="layui-table">
            <colgroup>
                <col width="150">
                <col width="200">
                <col>
            </colgroup>
            <thead>
            <tr>
                <th>文章编号</th>
                <th>文章标题</th>
                <th>作者</th>
                <th>文章内容</th>
                <th>禁用</th>
                <th>显示顺序</th>
                <th>创建时间</th>
                <th class="text-center">操作</th>
            </tr>
            </thead>
            <tbody>
            <foreach name="articleList" item="list">
                <tr>
                    <td>{$list['article_id']}</td>
                    <td>{$list['title']}</td>
                    <td>{$list['author']}</td>
                    <td>
                        <!--{$list['content']}-->
                        <button data="{$list['content']}" class="layui-btn" onclick="readArticle(this)"> <i class="layui-icon">&#xe608;</i></button>
                    </td>
                    <td>{$list['disabled']}</td>
                    <td>{$list['display_order']}</td>
                    <td>{$list['created_time']}</td>
                    <td>
                        <a title="删除" href="javascript:;" onclick="user_del(this, 'id', '{$list.article_id}')" class="ml-5" style="text-decoration:none">
                            <i class="layui-icon">&#xe640;</i>
                        </a>
                    </td>
                </tr>
            </foreach>

            </tbody>
        </table>
    </div>
</block>

<block name="loadJs">
    <include file="Common/loadJs"/>
    <script type="text/javascript">

       layui.use('layer', function(){
           var layer = layui.layer;
       });

        function readArticle(obj){
            var content = $(obj).attr('data');
            layer.open({
                type: 1
                ,title: false //不显示标题栏
                ,closeBtn: false
                ,area: ['800px', '400px']
                ,shade: 0.8
                ,id: 'LAY_layuipro' //设定一个id，防止重复弹出
                ,btn: ['关闭']
                ,moveType: 1 //拖拽模式，0或者1
                ,content: content
            });
        }
    </script>
</block>
